*{
    margin: 0;
    padding: 0px;
    font-size: 12px;
    font-family: Times, Arial;
    color: #000;       
}

/* TAGS */
body{
    background: url('../img/background.png');
}

a{ text-decoration: none; }
img{ border: none; }
li{ list-style-type: none; }
h1{ font-size: 21px; }
h2{ font-size: 18px; font-family: sans-serif; text-align:center; color:#000; }
/* FIM TAGS */

/* CLASSES */
.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.none{ display: none; }
.cor{ color: #2E8B57; }
/* FIM CLASSES  */

#site{
    width:980px;
    margin: auto;
    background: #f2fff2;
    /*#f2fff2*/
}

/* HEADER */
#header{
    height:200px;
    background: url('../img/bgHeader.png');
    border-bottom: solid 5px #C50E22;
}
    
/*    
    #header img{
        margin-top: 10px;
        margin-left: 10px;           
    }
*/
/* FIM HEADER */

/* MENU */

#lateral{    
    float:left;
    height: 560px;
    padding:0;
    margin:0;
}

#menu{
    width: 200px;
    text-align: center;
    border-bottom: 5px solid #C50E22;     
}
    
    #menu ul li{        
        display: block;
    }

        #menu ul li a{
            display: block;
            padding: 5px;  
        }
        
        #menu ul li a:hover{
            color: white;
            background: #2E8B57;
        }
/* FIM MENU */

/* NOTÍCIAS */
#noticias{
    height: 380px;
    width: 180px;
    padding: 10px;    
}

#estiloNoticia{    
    font-family: sans-serif;
    color: #000;
    font-size:12px;
    font-weight: normal;    
} 

#estiloNoticia:hover{    
    font-family: sans-serif;
    color: #000;
    font-size:12px;
    font-weight: bolder;
    background:#e4fee4;
}
/* FIM NOTÍCIAS */


/* CONTEÚDO */
#conteudo{
    width: 780px;
    float:right;        
}

    #conteudo #img{
       height: 380px; 
    }
    
.info{    
    width:380px;
    float: left;
}

    .info p{
        
        font-size:12px;
        font-family:sans-serif;
    }
/* FIM CONTEÚDO */


/* FOOTER */
#footer{
    border-top: 5px solid #009037;
    height: 50px;
    background:#c50e21;
    position: relative;
    clear: both;    
}
/* FIM FOOTER */








