*{
    margin: 0;
    padding: 0px;
    font-size: 12px;
    font-family: 'Ubuntu Condensed', sans-serif, Times, Arial;
    color: #000;       
}

/* TAGS */
body{
    background: url('../img/background.png');
}

a{ text-decoration: none; }
img{ border: none; }
li{ list-style-type: none; }
h1{ font-size: 21px; }
h2{ font-size: 18px; }
/* FIM TAGS */

/* CLASSES */
.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.none{ display: none; }
.cor{ color: #2E8B57; }
/* FIM CLASSES  */

#site{
    width:980px;
    margin: auto;
    background: #f2fff2 ;
    /*background-color: rgba(200,200,200,0.2);*/
}

#shadow{    
    width: 1000px;
    height: 100%;
    margin:auto;
    background: url('../img/shadow.png') repeat-y;
}

/* HEADER */
#header{
    height:200px;
    background: url('../img/bgHeader.png');
    border-bottom: solid 5px #C50E22;
}
    
/*    
    #header img{
        margin-top: 10px;
        margin-left: 10px;           
    }
*/
/* FIM HEADER */

#lateral{    
    float:left;
    height: 560px;
    padding:0;
    margin:0;
}

/* MENU */
#menu{
    width: 200px;
    text-align: center;
    border-bottom: solid 5px #C50E22;
}
    
    #menu ul li{        
        display: block;
    }

        #menu ul li a{
            display: block;
            padding: 5px;  
        }
        
        #menu ul li a:hover{
            color: white;
            background: #2E8B57;
        }
/* FIM MENU */

/* NOTÍCIAS */
#noticias{
    height: 380px;
    width: 180px;
    padding: 10px;
}

#estiloNoticia{    
    font-size:15px;
    font-weight: normal;    
} 

#estiloNoticia:hover{    
    font-size:15px;
    background:#e4fee4;
    text-decoration: underline;
}
/* FIM NOTÍCIAS */


/* CONTEÚDO */
#conteudo{
    width: 780px;
    float:right;        
}

.info{    
    width:390px;
    float: left;
    text-align:center;
}

.info p{    
    font-size:16px;    
}

/* FIM CONTEÚDO */


/* FOOTER */
#footer{
    border-top: 5px solid #009037;
    height: 50px;
    background:#c50e21;
    position: relative;
    clear: both;    
}

#contCredito{    
    margin-top:30px;
    text-align: center;
    font-size:14px;
    color:#fff;
}
/* FIM FOOTER */








